<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
        <title>Bootstrap Portfolio Page Template</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gen.js') }}"></script>

    </head>
    <body onload="setupInputs()">
        <div class="row">
          <div class="col-3" align="center">
            <label for="g1">Width</label>
            <div id="g1" class="input-group mb-3">
              <input type="range" class="form-control" id="widthSlider" oninput="updateBoxFromSlider('widthSlider', 'width')">
              <input type="number" id="width" name="quantity" style="width: 15%;" onchange="updateSliderFromBox('widthSlider', 'width')">
              
            </div>

            <label for="g2">Height</label>
            <div id="g2" class="input-group mb-3">
              <input type="range" class="form-control" id="heightSlider", oninput="updateBoxFromSlider('heightSlider', 'height')">
              <input type="number" id="height" name="quantity" style="width: 15%;" onchange="updateSliderFromBox('heightSlider', 'height')">
              
            </div>

            <button type="button" class="btn btn-success" onclick="generate()">Generate</button>
          </div>
          <div class="col-9">
            <div class="container">
              <img id="image" src="{{ url_for('static', filename='images/example.png') }} " class="img-fluid">
            </div>
          </div>
        </div>

      </body>
</html>