<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
        <title>Wave Function Collapse</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gen.js') }}"></script>

    </head>
    <body onload="setupInputs()">
        <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
            <div class="container">
              <br>
              <label for="g1">Width</label>
              <div id="g1" class="input-group mb-3">
                <input type="range" class="form-control" id="widthSlider" oninput="updateBoxFromSlider('widthSlider', 'width')">
                <input type="number" id="width" name="quantity" style="width: 15%;" onchange="updateSliderFromBox('widthSlider', 'width')">
                
              </div>

              <label for="g2">Height</label>
              <div id="g2" class="input-group mb-3">
                <input type="range" class="form-control" id="heightSlider", oninput="updateBoxFromSlider('heightSlider', 'height')">
                <input type="number" id="height" name="quantity" style="width: 15%;" onchange="updateSliderFromBox('heightSlider', 'height')">
                
              </div>

              <button type="button" class="btn btn-success" onclick="generate()">Generate</button>
            </div>

            <br>
            <br>
            <br>
            <button class="btn btn-info" data-toggle="collapse" data-target="#options">Tile Priority</button>

            <div id="options" class="collapse">
              <div class="container">
                <br>
                {% for option in options %}
                <label for="{{ option.id }}">{{ option.label }}</label>
                <div id="{{ option.id }}" class="input-group mb-3">
                  <input type="range" class="form-control" id="{{ option.id }}s" oninput="updateBoxFromSlider('{{ option.id }}s', '{{ option.id }}n')" min="{{ option.min }}" max="{{ option.max }}" value="{{ option.start }}">
                  <input type="number" id="{{ option.id }}n" name="quantity" style="width: 15%;" onchange="updateSliderFromBox('{{ option.id }}s', '{{ option.id }}n')" value="{{ option.start }}">  
                </div>
                {% endfor %}
  
              </div>
            </div>

            <br>
            <br>
            <img hidden id="load" class="img-fluid" src="{{ url_for('static', filename='images/loading.png')}}" width="10%" name="0">

          </div>
          <div class="col-sm-12 col-md-9">
            <div class="container">
              <img id="image" src="{{ url_for('static', filename='images/example.png') }} " class="img-fluid">
            </div>
          </div>
        </div>
      

      </body>
</html>